.recruit-banner {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin: 0 3rem;
    border-radius: 8px;
}
.recruit-banner > h2 {
    margin: 0;
}

.recruit-card-container {
    margin-top: 2rem;
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}
.recruit-card {
    text-align: center;
    padding: 1rem 1.5rem;
    width: 330px;
    border-radius: 8px;

    box-shadow: rgba(100, 100, 111, 0.5) 0px 2px 20px 0px;
}
.recruit-card > p{
    text-align:left;
}

.recruit-card > div{
    display: flex;
    align-items:center ;
    justify-content: center;

    padding: 1rem ;
    border-radius: 80px;

    width: fit-content;
    margin: 0 auto;

}

